*{
margin: auto;
text-align: center;
}
label{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}
.App {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 700px;
    
  }

  .name{
    display: flex;
    width: 800px;
    height: 60px;
   
    font-size: medium;
  }
  .name > label > input{
    width: 100%;
    height: 25px;
  }
  .emaildob{
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 50px;
   
    font-size: medium;
    
  }
  .emaildob > label > input{
    width: 100%;
    height: 25px;
  }
  .address{
    width: 800px;
    height: 50px;
   display: flex;
   justify-content: space-between;
   
   
    font-size: medium;
    
    
  }
  .address > label > input{
    width: 100%;
    height: 20px;
  }
  .document{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
  }
  .document>label{
    margin:50px
  }
  
  
  
  